@use 'sass:math';
@use '../abstracts/mixins' as m;

// Base declarations for general elements
body{
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}
picture{
  display: block;
}

.cm-container{
  width: 100%;
  padding: 0 1rem;
  @include m.cm_responsive(m.$md){
    padding: 0 5rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}

img, svg{
  vertical-align: unset;
}