@use 'sass:math';
@use '../abstracts/mixins' as m;

// Base declarations for general elements

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}
picture{
  display: block;
}

.cm-container{
  width: 100%;
  padding: 0 1rem;
  @include m.cm_responsive(m.$lg){
    padding: 0 5rem;
  }
}