
@use '../main' as m;

/*! purgecss start ignore */
.header_logo {
  display: block;
  color: m.$amber;
  @include m.get_font(700, 2rem, 1.1);
}

@include m.cm_responsive(m.$md) {
  .header_sm {
    display: none;
  }
  .header_lg {
    ul {
      a {
        @include m.call_template();
        &:hover {
          color: m.$dark;
        }
      }
    }
    .btn-primary{
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
.menuButton {
  width: 24px;
  svg {
    transform: scaleX(-1);
  }
}
.sm_nav {
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
  opacity: 0;
  @include m.call_template();
  &.show {
    transform: translateY(0);
    pointer-events: auto;
    user-select: auto;
    opacity: 1;
  }
}
/*! purgecss end ignore */