@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 0.5rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.btn-primary {
  color: v.$amber;
  border-color: v.$amber;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  @include m.call_template();
  @include m.no_hover {
    background-color: v.$amber;
    color: #fff;
  }
}


.btn-dark{
  border-color: #fff;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #fff;
  @include m.no_hover{
    background-color: #fff;
    color: v.$dark;
  }
}