@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: v.$primary;
  border: 2px solid v.$primary;
  padding: 0.75rem;
  border-radius: 0.5rem;
  letter-spacing: 0.5px;
  @include m.get_font(500, 1rem, 1.5);
  @include m.call_template();
  @include m.no_hover {
    background-color: v.$primary;
    color: #fff;
  }
}
