@use 'sass:math';
@use 'sass:map';
@use 'sass:list';
@use '../main' as m;
@use '../layout/header';
@use '../layout/footer';
@use '../vendors/swiper';
@use '../vendors/glightbox';

.banner {
  &_upper {
    h1 {
      @include m.get_font(800, 3.5rem, 1.1);
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      z-index: -1;
      border-style: solid;
      border-width: 0 0 82vw 100vw;
      aspect-ratio: 393/324;
      border-color: transparent transparent m.$light_yellow
        transparent;
    }
  }
  &_nav {
    .btn-primary {
      font-size: 1.25rem;
      line-height: 1.2;
    }
    .glightbox {
      @include m.get_font(500, 1rem, 1.5);
    }
  }
  .img_wrapper {
    &::before {
      content: '';
      position: absolute;
      left: 10%;
      top: 13%;
      width: 75%;
      border-radius: 3.125rem;
      aspect-ratio: 273/276;
      background-color: #fbbf24;
      z-index: -1;
    }
  }

  &_card {
    $absolute_values: (100, 75, 125);
    $default_box_width: 361;

    h2 {
      @include m.get_font(500, 1.25rem, 1.1);
    }
    @for $i from 1 through 3 {
      // Calculate the percentage of right value to the default box value according to mobile and get the percentage value from it
      &:nth-child(#{$i}) {
        $right_value: nth($absolute_values, $i);

        .abs_elem {
          transform: translateX(#{$right_value * 1%});
        }
      }
    }
  }
}

.prods {
  &_card {
    // Border radius to apply to both card and image
    $border_radius: 0.625rem;
    //

    border-radius: $border_radius;
    background-color: m.$dark;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.07),
      0 25px 50px -12px rgba(255, 255, 255, 0.25);

    & > picture img {
      width: 100%;
      aspect-ratio: 361/220;
      object-position: center;
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
    }
    .title {
      @include m.get_font(700, 1.5rem, 1.1);
    }
    p {
      @include m.get_font(400, 1.125rem, 1.6);
    }
    a {
      img {
        width: 24px;
      }
      span {
        letter-spacing: 0.5px;
        @include m.get_font(500, 1.25rem, 1.2);
      }
    }
  }
  .card_wrapper {
    .rect {
      aspect-ratio: 1;
      rect {
        width: 100%;
        height: 100%;
      }
    }
    .rect-1 {
      bottom: -2rem;
      width: 56%;
      left: 1.25rem;
    }
    .rect-2 {
      top: 30%;
      width: 33%;
      right: -1rem;
    }
    .rect-5 {
      top: 11%;
      width: 41%;
      left: -1rem;
    }
  }
}

.join {
  .wrapper {
    border-radius: 1.875rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07),
      0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
  .left {
    a {
      @include m.get_font(500, 20px, 1.2);
    }
  }

  .play {
    border-radius: 100px;
    transform: translate(-50%, -50%);
    padding: 1.5rem 1.25rem 1.5rem 1.75rem;
    background-color: rgba(#121619, 0.75);
    svg {
      width: 96px;
      height: 96px;
    }
  }
  .shapes {
    user-select: none;
    pointer-events: none;
    .shape-1 {
      width: 104vw;
      transform: rotate(-45deg);
      filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
      top: 15vw;
      left: -19vw;
    }
    .shape-2 {
      width: 35vw;
      right: -14vw;
      bottom: -15vw;
    }
    .shape-3 {
      bottom: calc(100% + 7px);
      right: 2rem;
      width: 36px;
      fill: #0369a1;
    }
    .shape-4 {
      top: 100%;
      left: 11vw;
      transform: translateY(-50%);
      z-index: 2;
      width: 50px;
      fill: #15803d;
    }

    .shape-5 {
      top: 6vw;
      left: calc(-1rem - 5px);
      width: 55px;
      fill: #b45309;
    }
    .shape-6 {
      right: 3.5rem;
      bottom: 0;
      width: 46px;
      transform: translateY(50%);
      fill: #a21caf;
    }
  }
}

.testimonials {
  &-swiper {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -1rem;
      height: 93%;
      background-color: m.$light_yellow;
      z-index: -1;
    }
  }
  .swiper-slide {
    height: auto;
    align-self: stretch;
  }
}

.testimonial {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
  .icon {
    img {
      height: 2rem;
      max-width: 100%;
      object-position: center;
    }
  }
  p {
    @include m.get_font(400, 1rem, 1.4);
  }
  .author {
    img {
      width: 4rem;
      height: 4rem;
      object-position: center;
    }
    p {
      color: #475569;
      @include m.get_font(400, 1rem, 1.4);
    }
  }
}

.collection {
  @include m.call_template('noscroll');
  .buttons {
    white-space: nowrap;
  }
  .button {
    img {
      width: 24px;
    }
    span {
      @include m.get_font(500, 1.25rem, 1.2);
    }
    &.active {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07),
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    }
  }
  .frame-window {
    width: 75vw;
    &:nth-of-type(2) {
      $top_val: round(math.div(57, 201) * 100);
      $left_val: round(math.div(36, 294) * 100);
      top: #{$top_val * 1%};
      left: #{$left_val * 1%};
    }
  }
  .collection_img {
    width: 26vw;
    $top_val: round(math.div(121, 201) * 100);
    $left_val: round(math.div(262, 294) * 100);
    top: #{$top_val * 1%};
    left: #{$left_val * 1%};
    img {
      border: 5px solid #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07),
        0px 25px 50px -12px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }
}
